@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');
body{
    background-color: #2F2F2F;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
#barra-busqueda{
    display: flex;
    justify-content: flex-start;
    width: 20%;
}
#barra-busqueda input{
    width: 200px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding: 0 10px;
}
#barra-busqueda input::placeholder{
    font-weight: 700;
}
#barra-busqueda input:focus{
    outline: 1px solid #0074E0;
}
#barra-busqueda i{
    align-self: center;
    font-size: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(8, 8, 8);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#barra-busqueda i:hover{
    cursor: pointer;
    opacity: 0.8;
}
#barra-nav{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
section[id]{
    scroll-margin-top: -40px;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav ul li {
    list-style: none;
}
#nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#nav ul li a:hover{
    color: darkorange;
}
#btn-sesiones{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 15px;
}
#btn-sesiones button{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #0074E0;
    color: white;
    -webkit-box-shadow: -10px 10px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 21px -5px rgba(0,0,0,0.75);
    box-shadow: -10px 10px 21px -5px rgba(0,0,0,0.75);
}
#btn-sesiones button:hover{
    opacity: 0.8;
    cursor: pointer;
}
#btn-sesiones i{
    align-self: center;
    color: white;
    font-size: 25px;
    margin-left: 10px;
}
#btn-sesiones i:hover{
    opacity: 0.8;
    cursor: pointer;
}
/*COMIENZO CARRUSEL*/
#carrusel-container{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
}
#carrusel{
    width: 95%;
    height: 300px;
    background-color: #242424;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
/*FIN CARRUSEL*/



/*SECCION PRODUCTOS SELEECIONADOS*/
#titulos{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
}
#producto-seleccionado-container{
    width: 100%; 
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: -1px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 10px 3px rgba(0,0,0,0.75);
}
#producto-seleccionado{
    display: flex;
    flex-direction: row;
    color: white;
    width: 1400px;
    background-color: #242424;
    color: white;
    padding: 10px 10px;
}
#producto-seleccionado #img img{
    height: 300px;
    -webkit-box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.75);
box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.75);
}
#nombre-producto-seleccionado{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 40px;
}
#nombre-producto-seleccionado span{
    font-size: 30px;
    font-weight: 700;
}
#nombre-producto-seleccionado p{
    font-size: 30px;
}

#img{
    padding: 10px 20px;
    height: 300px;
}
#img img{
    width: 230px;
    height: 300px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.75);
box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.75);
}
#botones-productos{
    display: flex;
    width: 100%;
    gap: 260px;
}
#botones-productos #btn-cancelar{
    background-color: #D30000;
    width: 180px;
}
#botones-productos button{
    width: 180px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #0074E0;
    color: white;
    font-size: 30px;
    padding: 5px;
}
#botones-productos #minplus{
    display: flex;
    gap: 10px;
    align-items: center;
}
#botones-productos button:hover{
    opacity: 0.8;
    cursor: pointer;
}
#botones-productos #precio{
    color: green;
}
#botones-productos #minus{
    font-size: 35px;
    color: #D30000;
}
#botones-productos #minus:hover{
    cursor: pointer;
    opacity: 0.8;
}
#botones-productos #plus{
    font-size: 35px;
    color: #00880E;
}
#botones-productos #plus:hover{
    cursor: pointer;
    opacity: 0.8;
}

/*COMIENZO SECCIÓN DETALLE COMPRA*/
#detalle-compra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1400px;
    height: 700px;
    background-color: black;
    border-radius: 5px;
    -webkit-box-shadow: -1px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 10px 3px rgba(0,0,0,0.75);
}
#renglon-detalle-compra{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 700px;
}
#renglon-detalle-compra #total-prod{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
#forma-entrega-pago{
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    width: 700px;
    font-weight: 600;
    font-size: 20px;
    gap: 5px;
}
#forma-entrega-pago input{
    margin: 0 10px;
}
#datos-cliente{
    display: flex;
    width: 700px;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
#datos-cliente input{
    padding: 5px;
    width: 300px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #D9D9D9;
}
#datos-cliente input:focus{
    border: 1px solid #0074E0;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,98,184,1);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,98,184,1);
box-shadow: 0px 0px 5px 1px rgba(0,98,184,1);
}
#datos-cliente input::placeholder{
    font-weight: 600;
    font-size: 15px;
}
#btn-confirmar{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 700px;
}
#btn-confirmar-pedido{
    background-color: #0074E0;
    width: 200px;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#btn-confirmar-pedido:hover{
    cursor: pointer;
    opacity: 0.8;
}
/*FIN SECCIÓN DETALLE COMPRA*/

/*COMINEZO FOOTER*/
#agradecimiento{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    color: white;
}
#contactanos{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 200px;
    background-color: black;
    color: white;
}
#info-contacto{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}
#info-contacto h2{
    padding-left: 15px;
}
#icon{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 5px;
    align-items: center;
}
#info-empresa{
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 35px 0;
    width: 100%;
}
#info-empresa a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
#info-empresa a:hover{
    color: orange;
}
a{
    text-decoration: none;
}
/*FIN FOOTER*/
#menu-toggle{
    display: none;
}

@media only screen and (max-width: 918px) {
    #barra-nav {
        flex-direction: column; /* Cambiamos la dirección del contenedor principal */
        align-items: flex-start; /* Alineamos los elementos al principio */
    }

    #barra-busqueda {
        margin-bottom: 10px; /* Añadido espacio entre la barra de búsqueda y la navegación en pantallas más pequeñas */
    }

    #nav {
        display: none; /* Ocultamos la navegación por defecto en pantallas más pequeñas */
        width: 100%;
        background-color: #333; 
        position: absolute;
        top: 80px;
        left: 0;
    }

    #nav ul {
        flex-direction: column; /* Cambiamos la dirección de la lista a columnas */
        gap: 10px;
    }

    #btn-sesiones {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 10px; 
        justify-content: center;
        margin: 0;
        padding: 0px;
    }

    /* Mostramos el menú desplegable al hacer clic en el botón */
    #barra-nav.active #nav {
        display: flex;
        justify-content: center;
    }
    #barra-busqueda{
        justify-content: center;
        width: 100%;
    }
    #menu-toggle{
        display: block;
        font-size: 30px;
        color: white;
    }
    #menu-toggle:hover{
        cursor: pointer;
        color: darkorange;
    }

    

    #producto-seleccionado-container{
        width: 760px;
    }
    #producto-seleccionado{
        width: 740px;
    }
    #img{
        width: 200px;
        padding: 20px;
    }
    #img img{
        width: 200px;
    }
    #nombre-producto-seleccionado{
        width: 500px;
        justify-content: flex-end;
        padding: 20px 10px;
        gap: 10px;
    }
    #detalle-compra{
        width: 760px;
    }
    #renglon-detalle-compra{
        width: 600px;
    }
    #forma-entrega-pago{
        width: 600px;
    }
    #datos-cliente{
        width: 600px;
    }
    #btn-confirmar{
        width: 600px;
    }
    #agradecimiento{
        margin: 80px 10px;
        padding: 10px;
    }
    #botones-productos{
        gap: 40px;
    }
    #nombre-producto-seleccionado span{
        font-size: 30px;
    }
    #botones-productos #minus {
        font-size: 20px;
    }
    #botones-productos button {
        font-size: 20px;
        width: 120px;
    }
    #botones-productos #plus {
        font-size: 20px;
    }
    #botones-productos #btn-cancelar {
        font-size: 20px;
        width: 120px;
    }
    #info-empresa{
        background-color: black;
    }
}

@media only screen and (max-width: 545px){
    #producto-seleccionado-container{
        width: 380px;
    }
    #producto-seleccionado{
        width: 370px;
    }
    #img{
        display: flex;
        height: 400px;
        width: 100px;
        padding: 10px;
    }
    #img img{
        width: 100px;
        display: flex;
        align-items: center;
        height: 400px;
    }
    #nombre-producto-seleccionado{
        width: 250px;
        justify-content: flex-end;
        padding: 10px 0;
        gap: 5px;
    }
    #botones-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #detalle-compra{
        width: 380px;
    }
    #renglon-detalle-compra{
        width: 300px;
    }
    #forma-entrega-pago{
        width: 300px;
    }
    #datos-cliente{
        width: 300px;
    }
    #btn-confirmar{
        width: 300px;
    }
    #agradecimiento{
        margin: 40px 0;
        padding: 5px;
    }
    #contactanos{
        flex-direction: column;
    }
    #info-empresa{
        background-color: black;
    }
}